*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
 }

 .header{ 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 12%;
    background: #C18381;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
 }

 h2{
     font-size: 25px;
     color: white;
     font-weight: 600;
     transition: 0.3 ease;
 }

 .navbar a{ 
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3 ease;
 }

 .navbar a:hover{
    color: white;
    border-bottom: 3px solid white ; 
 }
 
 .contact{ 
    padding: 10px 28px;
    background-color: white;
    color: black;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
 }
 .contact >a{
  color: black;
}
 .contact:hover{ 
    background-color: #C18381;
    box-shadow: 0 0 25px #C18381;
    color: white;
 }

  .home{ 
    width: 100%;
    min-height: 100vh;
    background: white;
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
  }

  .home-content h1{ 
    font-size: 42px;
    
  }

  .home-content h2{ 
    font-size: 62px;
    line-height: 1.2;
    color: black;
  }

  .home-content p{ 
    font-size: 18px;
    margin: 25px 0 30px;
    
  }

  .img-box img{  

     border-radius: 55%;
     width: 350px;
   }
   footer {
    display: flex;
    justify-content:flex-end;   
    align-items: center;
    gap: 5%;               
    margin: 15px 16px;
    margin-top: 8%;
    margin-right: 15%;
  }
  
  footer img {
    width: 25px;           
    height: 25px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  footer img:hover {
    transform: scale(1.1);    
  }

   
@media (max-width: 768px) {

 
   .header {
     padding: 20px 6%;
     flex-direction: column;
     gap: 15px;
     position: relative;
   }
 
   h2 {
     font-size: 20px;
     text-align: center;
   }
 
   
   .navbar {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 10px;
   }
 
   .navbar a {
     font-size: 16px;
     margin: 0;
   }
 
   
   .contact {
     font-size: 16px;
     padding: 8px 20px;
   }
 
  
   .home {
     flex-direction: column;
     text-align: center;
     padding: 40px 6% 0;
     gap: 30px;
   }
 
   .home-content h1 {
     font-size: 28px;
   }
 
   .home-content h2 {
     font-size: 32px;
       line-height: 1.3;            
   }   }  